@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@100&display=swap');

.home {
    box-sizing: border-box;
}

.gradient {
    min-height: 750px;
    background: linear-gradient(to right, rgb(194, 211, 211), rgb(248,244,236), rgb(255, 251, 240));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    
}

.searchforbook {
    width: 40%;
    font-family: 'Playfair Display', serif;    
    font-size: 45px;
}

p {
    font-family: 'Poppins', serif; 
    font-size: 35px;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 2%;
}

input[type=text] {
    margin-top: 20px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 60%;
    height: 6.7%;
    display: block;
    padding: 9px 4px 9px 40px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}


input[type=radio] {
  
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 300px;
  height: 500px;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.47);
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}